* {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 2.5px;
  }

  .audioColumn {
    float: left;
    width: 50%;
    padding: 2.5px;
  }

 .section1 {
   float: left;
   width: 100%;
   padding: 2.5px;
  }

  .section2 {
    float: left;
    width: 100%;
    padding: 2.5px;

  }